extends ../layout
block content

   h1 title   #{cd.title }
   h3 author   
      a(href="../author/"+cd.author.id)  #{cd.author.name }
   p description  #{cd.description }
   h4 price  #{cd.price }
   h4 stock  #{cd.stock}
   h3 genres:
   for genre in cd.genre 

      a(href="../genre/"+genre.id)=genre.name  


   form(action=cd.id+"/delete" method='post')
      input(type="text" value=cd.id class="hidden" name="cdId")
      input(type='submit' value='Delete CD')