extends ../layout

block content
  h1 CD LIST!!!!!!!!!!!!!!!!!
  hr

  for cd in cdList
    p title 
      a(href="cd/"+cd.id) #{cd.title }
    p author  
      a(href="author/"+cd.author) #{cd.author }
    p description: #{cd.description }
    p price #{cd.price }
    p stock #{cd.stock}
    p genres:
    for genre in cd.genre 
      p 
        a(href="genre/"+genre.id) #{genre.name}  
    
    hr