extends ../layout

block content
  h1 CD LIST!!!!!!!!!!!!!!!!!

  for cd in cdList
    p title  #{cd.title }
    p author  #{cd.author.name }
    p description  #{cd.description }
    p price  #{cd.price }
    p stock  #{cd.stock}
    p genres:
    for genre in cd.genre 
        
        p=genre.name  
    
    hr
    hr
    hr