extends ../layout

block content
  h1 Genre: #{genre.name}

  h3 CDS of this genre: 
    ul 
    for cd in genreCds 
      li 
        a(href="../cd/"+cd.id ) #{cd.title}

  h3  artist of this genre: 
   ul 
    for author in genreAuthors 
      li 
        a(href="../author/"+author.id ) #{author.name}
  if imageSrc
    img(src=imageSrc, alt="genre image")
  
  form(action=genre.id+"/delete" method='post')
     input(type="text" value=genre.id class="hidden" name="genreId")
     input(type='submit' value='Delete Genre')

  button 
    a(href=genre.id+"/update") Update the Genre